{:source-paths ["src"]
 :dependencies [[reagent "{{reagent-version}}"]
                [bidi "{{bidi-version}}"]
                [venantius/accountant "{{accountant-version}}"]
                [binaryage/devtools "{{devtools-version}}"]
                [orgpad/volcano "{{volcano-version}}"]]
 :nrepl        {:port 9500}
 :builds       {:web {:target     :browser
                      :output-dir "resources/js"
                      :asset-path "/js"
                      :modules    {:main {:init-fn {{name}}.dev/init}}
                      :devtools   {:http-root      "resources"
                                   :http-port      3500
                                   :after-load     {{name}}.dev/mount-root
                                   :watch-dir      "resources"
                                   :browser-inject :main}}}}
